@page 
@model WebApplication1.Pages.ProductModel
@{
}

<link rel="stylesheet" href="~/css/carTable.css" asp-append-version="true" />

<div class="d-flex justify-content-end">
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline d-flex">
            <input class="form-control mr-sm-2" name="searchString" type="search" placeholder="Search" aria-label="Search" minlength="3" required>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>


<h2 style="text-align:center">Product Card</h2>

<div class="card">
    <img src="/image/@Model.Product?.Id/@Model.Product?.Thumbnail?.Split('/').Last()" style="width:100%">
    <h1>@Model.Product?.Title</h1>
    <p class="price">@Model.Product?.Price $</p>
    <p>@Model.Product?.Description</p>
    
</div>


